<eva-header>Ciclo Escolar</eva-header>
<ion-content [scrollY]="false">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <cdk-virtual-scroll-viewport class="ion-content-scroll-host" itemSize="56">
    <!-- <ion-item *cdkVirtualFor="let calendar of calendars; index as i">
    </ion-item> -->
  </cdk-virtual-scroll-viewport>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newCalendar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
