.spinner {
  &-container {
    display: grid;
    place-items: center;
    &-fullscreen {
      inset: 0px;
      position: absolute;
      transform: translateZ(0px);
      z-index: 2;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      background-color: rgba(var(--ion-background-color-rgb),0.1);
    }
  }
}
