<ion-content class="ion-padding">
  <div class="calendar-container" [@slideAnimation] *ngIf="page === 0; else endDate">
    <div class="calendar-title">Fecha Inicio</div>
    <ion-datetime
      (ionChange)="selectDate($event)"
      [locale]="locale"
      [value]="dates[page]"
      presentation="date"
      class="border-radius"
    ></ion-datetime>
    <ion-buttons class="calendar-buttons">
      <ion-button
        color="danger"
        fill="clear"
        (click)="cancel()">
        Cancelar
      </ion-button>
      <ion-button
        color="primary"
        fill="clear"
        (click)="confirm()"
        [disabled]="!dates[page]">
        Continuar
      </ion-button>
    </ion-buttons>
  </div>
  <ng-template #endDate>
    <div class="calendar-container" [@slideAnimation]>
      <div class="calendar-title">Fecha Fin</div>
      <ion-datetime
        (ionChange)="selectDate($event)"
        [locale]="locale"
        [value]="dates[page]"
        [min]="dates[0]"
        presentation="date"
        class="border-radius"
      ></ion-datetime>
      <ion-buttons class="calendar-buttons">
        <ion-button
          color="danger"
          fill="clear"
          (click)="cancel()">
          Regresar
        </ion-button>
        <ion-button
          color="primary"
          fill="clear"
          (click)="confirm()"
          [disabled]="!dates[page]">
          Confirmar
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
</ion-content>
