@use '/src/app/styles/functions' as functions;

ion-content {
  &.md {
    .calendar {
      &-title {
        padding-left: functions.toRem(20px);
        font-size: functions.toRem(20px);
        font-weight: 500;
        letter-spacing: 0.0125em;
      }
      &-buttons {
        justify-content: flex-end;
      }
    }
  }
}

.calendar {
  &-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
    gap: var(--padding-start);
    ion-datetime {
      width: 100%;
    }
  }
  &-title {
    padding-left: var(--padding-start);
    font-size: functions.toRem(17px);
    font-weight: 600;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
  }
}
