<eva-header>Directorio</eva-header>

<ion-content [scrollY]="false">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar color="light" placeholder="Buscar" (ionChange)="filter($event)" [debounce]="500"></ion-searchbar>
  <cdk-virtual-scroll-viewport class="ion-content-scroll-host" itemSize="56" minBufferPx="900" maxBufferPx="1350">
    <eva-spinner *ngIf="loading$ | async"></eva-spinner>
    <eva-user-item lines="full" *cdkVirtualFor="let user of users$ | async" [user]="user">
      <ion-icon
        (click)="toggleAdmin(user)"
        ios="shield-checkmark-outline"
        md="shield-checkmark-sharp"
        [color]="user.role === 'admin' ? 'primary' : 'medium'"
        slot="end">
      </ion-icon>
    </eva-user-item>
  </cdk-virtual-scroll-viewport>
</ion-content>
