.rubric {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  &-grade {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }
  &-item {
    --inner-padding-end: 0px;
  }
}
