/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use './app/styles' as styles;
@use './app/styles/functions' as functions;

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@include styles.init();

ion-modal.transparent-modal {
  --background: transparent;
  --box-shadow: unset;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

ion-footer {
  ion-toolbar {
    padding-top: 0 !important;
  }
}

.icon-button {
  &-small {
    height: functions.toRem(32px);
    width: functions.toRem(32px);
  }
  height: functions.toRem(96px);
  width: functions.toRem(96px);
}

.content-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  padding: 2rem;
  height: 100%;
  .logo {
    height: 30vh;
  }
  .buttons {
    max-width: calc(100vw - 4rem);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem;
  }
  ion-button {
    width: 100%;
  }
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  ion-app {
    display: none
  }
}
